In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Users/spaceofmiah/.pyenv/versions/3.11.5/lib/python3.11/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/spaceofmiah/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/spaceofmiah/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/spaceofmiah/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/spaceofmiah/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/spaceofmiah/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Pre-Requisite

Before running any of the below cells, ensure to run `make billions` from the root directory of the project.

Above command when run would crawl wikipedia's top 10 billionaire list and save the extracted data as a json file within `output` folder.

In [2]:
import os
import pathlib
import pandas as pd

BASE_DIR = os.path.abspath(pathlib.Path().absolute().parent.absolute())
BILLIONAIRE_FILE = "/output/billionaires.json"
BILLIONAIRE_FILE_PATH = BASE_DIR + BILLIONAIRE_FILE

### Data Reading & Exploration

In [3]:
# read data into pandas data frame and retrieve top 5 data
df = pd.read_json(BILLIONAIRE_FILE_PATH)
df.head()

   year  position             name       networth age             company
0  2023         1  Bernard Arnault  $211 billion   74                LVMH
1  2023         2        Elon Musk  $180 billion   51               Tesla
2  2023         3       Jeff Bezos  $114 billion   59              Amazon
3  2023         4    Larry Ellison  $107 billion   78  Oracle Corporation
4  2023         5   Warren Buffett  $106 billion   92  Berkshire Hathaway

In [4]:
# check total number of rows and columns
df.shape

(372, 6)